# Example .env file

# Set DEBUG to 1 to get debug output
DEBUG=1
DEBUG_LEVEL="INFO"  # DEBUG, INFO, WARN, ERROR, CRITICAL

# Discord bot token
DISCORD_TOKEN="ABCD1234-abcd1234"

# Your Google translate project id
GOOGLE_TRANSLATE_PROJECT_ID="refine-asset-123456"

# Google translate location (global most likely will be fine)
GOOGLE_TRANSLATE_LOCATION="global"

# Path to config file in JSON format to store guild(server)/channel settings
AUTOTRANS_CONFIG_FILE="./autotrans_config.json"


# Guild ids. Space separated list of guild (server) ids the bot will connect to. If it is empty, it may 
# take an hour to register the slash(/) commands.
GUILD_IDS="1127275079705833472"

